<%= form_for(@color_reflection) do |f| %>
  <% if @color_reflection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@color_reflection.errors.count, "error") %> prohibited this color_reflection from being saved:</h2>

      <ul>
      <% @color_reflection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
    <%= f.label :udid %><br />
    <%= f.text_field :udid %>
  </div>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :red %><br />
    <%= f.text_field :red %>
  </div>
  <div class="field">
    <%= f.label :green %><br />
    <%= f.text_field :green %>
  </div>
  <div class="field">
    <%= f.label :blue %><br />
    <%= f.text_field :blue %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
