<h1>Welcome to GS Server!</h1>

<h2>General</h2>
<%= link_to "Users", users_path %><br />
<%= link_to "Suggestions", suggestions_path %><br />
<%= link_to "Screens", screens_path %><br />

<h2>Reflections</h2>
<%= link_to "Color Reflections", color_reflections_path %><br />
<%= link_to "Text Reflections", text_reflections_path %><br />
<%= link_to "Photo Reflections", photo_reflections_path %><br />

<h2>Logs</h2>
<%= link_to "Daily Suggestions", daily_suggestions_path %><br />
<%= link_to "Log Screens", log_screens_path %><br />