<%= form_for(@log_screen) do |f| %>
  <% if @log_screen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log_screen.errors.count, "error") %> prohibited this log_screen from being saved:</h2>

      <ul>
      <% @log_screen.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
    <%= f.label :udid %><br />
    <%= f.text_field :udid %>
  </div>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :screen_id %><br />
    <%= f.text_field :screen_id %>
  </div>
  <div class="field">
    <%= f.label :entering %><br />
    <%= f.check_box :entering %>
  </div>
	<div class="field">
    <%= f.label :time_entered %><br />
    <%= f.text_field :time_entered %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
