<h1>Listing text_reflections</h1>

<table>
  <tr>
    <th>User</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @text_reflections.each do |text_reflection| %>
  <tr>
    <td><%= text_reflection.user_id %></td>
    <td><%= text_reflection.text %></td>
    <td><%= link_to 'Show', text_reflection %></td>
    <td><%= link_to 'Edit', edit_text_reflection_path(text_reflection) %></td>
    <td><%= link_to 'Destroy', text_reflection, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Text reflection', new_text_reflection_path %>
